JIRA_HOST="https://imsa.atlassian.net"
JIRA_USER=<MAIL_LOGIN_JIRA>
JIRA_PASS=<JIRA_TOKEN>
PROXY_SERVER="http-proxy.siera.msanet"
PROXY_PORT="8000"
PROXY_USER=<user>
PROXY_PASSWORD=<password>
JIRA_REST_API_V3=false